body{
    background-color: #ececec;
}
/* navbar */

#navbar{
    width: 100%;
    height: 100px;
    border: 1px solid red;
    background-color: #11161f;
    display: flex;
    
}
#logo{
    width: 10%;
    height: 100px;
    margin-left: 80px;
}
#search{
    background-color: aliceblue;
    border: 2px soild white;
    width: 30%;
    height: 30px;
    margin-top: 40px;
    margin-left: 60px;
    font-size: 20px;
}

/* dropdown */
.dropbtn{
    color: white;
    height: 30px;
    margin-top: 40px;
}
.dropdown {
position: relative;
display: inline-block;
margin-left: 260px;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;color: black;border-radius: 10px;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f3f5f3;color: black;
    border-radius: 8px;}

.dropbtn2{
    color: white;
    height: 30px;
    margin-top: 40px;
    margin-left: 50px;
}
.dropdown2 {
position: relative;
display: inline-block;
}

.dropdown-content2 {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content2 a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content2 a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

.dropdown2:hover .dropdown-content2 {display: block;}

.dropdown2:hover .dropbtn2 {background-color: #f2f6f2;color: black;border-radius: 8px;}

/* user div */
#userDiv{
    width: 5%;
    height: 100px;
    border: 0px solid rgb(247, 247, 247);
    margin-left: 50px;
    /* display: none; */
}
#userDiv > i{
    width: 30px;
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    border: 0px solid white;
}
#userName{
    width: 50px;
    color: white;
    margin-left: 20px;
}
#signINUP {
    display: flex;
    justify-content: center;
    align-items: center;
}
#signINUP  a{
    color: white;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}




/* slider */
#slider{
    width: 90%;
    height: 400px;
    margin: auto;

}
#sliderimg{
    width: 100%;
}
/* categoryDiv */
#categorydiv{
    width: 60%;
    height: 100px;
    border:0px solid red;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: auto;
    gap: 10px;
}

#categorydiv > a > img{
    width: 100%;
    height: 100px;
}
#categorydiv > a > img:hover{
    transform: scale(1.1);
}


/* deals wheel */
.deals{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    margin-bottom: 20px;
}
.dealsDiv{
    width: 80%;
    margin: auto;
    gap: 30px;
    display: flex;
}
#dealsDiv > a > img{
    width: 100%;
}

/* offers */
.offers{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    margin-bottom: 20px;
}
.offersDiv{
    width: 80%;
    margin: auto;
    gap: 30px;
    display: flex;
}
#offersDiv > a > img{
    width: 100%;
}

/* advertise Div */
.advertiseDiv{
    width: 90%;
    margin: auto;
}
.advertiseDiv > a > img{
    width: 100%;
}

/* two divs */
.twoDiv{
    width: 90%;
    margin-left: 10%;
    display: flex;
    gap:40px
}

/* footer */
.footer{
    width: 100%;
}
.footer > img{
    width:100%
}